body {
  margin-top: 20px;
  background: #f8f8f8;
  font-family: "Courier New", Courier, monospace;
}

.todo-list {
  margin: 10px 0;
}

.todo-list .todo-item {
  padding: 15px;
  margin: 5px 0;
  border-radius: 0;
}

.div.checker input {
  width: 18px;
  height: 18px;
}

.checker {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
}

.done {
  text-decoration: line-through;
  color: red;
}

.title {
  width: 100%;
  text-align: center;
}
